.card-header {
    margin: 25px 50px;
    font-weight: bold;
    
}
/*  TABLE CART */
.cart-body{
    text-align: center;

}
.cart-body table { 
    width: 70%; 
    margin: 0 auto;
    
} 
 
.cart-body table th { 
    padding: 10px; 
    background-color: wheat; 
    color: #fff; 
    text-align: left; 
    border-bottom: 1px solid #ddd;
} 

.cart-body table td { 
    padding: 10px; 
    border-bottom: 1px solid #ddd;
    text-align: left;
} 

.quantity div input{
    text-align: center;
}

.cart-body table tr { 
    background-color: wheat; 

}

div.total {
    margin: 2% 20% 2% 60% ;
   
}
div.total span{
    font-size: 20px;
    font-style: normal;
    color: black;
}

div.btn_button div{
    display: inline;
    padding: 10px;
    
    
}

div.btn_button div input{
    background-color: #517d48;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
}
