* {
  --clr-main: #606c38;
  --clr-main-dark: #283618;
  --clr-main-light: #8cb369;
  --clr-dark-gray: #1a1a1a;
  --clr-light-yellow: #edcf3c;
  --clr-dark-yellow: #f4a259;
  --clr-background-light: #dbcd8a;
  --clr-dark-blue: #083d77;
  --clr-light-blue: #5b7e99;
  --clr-red: #e63946;
}

html, body {
  background-color: white;
}

.main-banner {
  display: none;
}

.content.product-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0 30px;
  max-width: 100%;
}

.filter {
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
}

.filter {
  padding: 20px;
}

.catalog-nav,
.filter ul,
.filter form,
.product-filter,
.radio-button-group,
.product-brands-filter,
.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter form .submit-filter-button {
  display: flex;
  justify-content: end;
}

.filter form button.filter {
  border: 1px solid var(--clr-main-light);
  box-shadow: none;
  background-color: var(--clr-main-light);
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.catalog-nav {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.catalog-nav a {
  text-decoration: none;
  color: var(--clr-dark-gray);
}

.catalog-nav a:hover {
  text-decoration: underline;
}

.catalog-nav > a {
  font-size: 1.5em;
  color: var(--clr-main-dark);
  font-weight: bold;
}

.label {
  font-weight: bold;
}

[name="price-range-left"] {
  direction: rtl;
}

.price-range-group {
  width: 100%;
  display: flex;
  gap: 2px;
}

[type="range"] {
  flex-grow: 1;
}

.price-range-display {
  text-align: center;
}

.catalog-title {
  border-radius: 15px;
  box-shadow: 0 0 30px gray;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-title .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-main-dark);
}

.grid-col-2.product-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-sort select {
  width: 150px;
  outline: none;
}

.product-catalog.product-page {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.product-catalog-container {
  border-radius: 15px;
  box-shadow: 0 0 30px gray;
  padding-bottom: 20px;
}

.product.product-page {
  border: 1px solid lightgray;
  transition: 300ms;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.product:hover {
  transform: translateY(-10px);
  border: 1px solid var(--clr-main);
}

.product img {
  width: 100%;
}

.product-price {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.product .product-price .price {
  font-weight: bold;
  color: var(--clr-dark-yellow);
  font-size: 1.5rem;
}

.product .product-price .heart {
  fill: var(--clr-dark-gray);
  cursor: pointer;
}

.product .product-price .heart.checked {
  fill: var(--clr-red);
}

.product .product-brand {
  color: var(--clr-main);
  font-weight: bold;
}

.product .product-name {
  max-height: 35px;
  color: var(--clr-dark-gray);
}

.page-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.page-nav button {
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.1em;
  text-decoration: none;
  font-weight: bold;
}

.page-nav button.active {
  background-color: var(--clr-main);
  color: white;
}

@media (max-width: 1350px) {
  .product-catalog.product-page {
    display: flex;
    flex-wrap: wrap;
  }

  .product.product-page {
    width: 32%;
  }
}

@media (max-width: 1020px) {
  .content.content.product-page {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .product-catalog.product-page {
    display: flex;
    flex-wrap: wrap;
  }

  .product.product-page {
    width: 32%;
  }
}

@media (max-width: 720px) {
  .product-catalog.product-page {
    display: flex;
    flex-wrap: wrap;
  }

  .product.product-page {
    width: 48%;
  }

  .product {
    border: 1px solid gray;
    box-shadow: none;
  }

  .product-catalog.product-page {
    padding: 10px;
  }

  .product .product-price .price {
    font-size: 1.25rem;
  }

  .product .product-price .heart {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 400px) {
  .catalog-title .title {
    font-size: 1.25rem;
  }

  .catalog-title select {
    width: fit-content;
  }
}

@media (max-width: 350px) {
.product-catalog.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product.product-page {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .price-range-group {
    flex-direction: column;
  }
}
